{% extends 'SSNTherapassBundle::layout.html.twig' %}

{% block admin_menu %}
{{ render(controller('SSNTherapassBundle:Admin:menu', {})) }}
{% endblock %}

{% block navigation_links %}
<li><a href="{{ path('ssn_therapass_admin_home') }}">Tableau de bord</a></li>
<li><a href="{{ path('logout') }}">Se déconnecter</a></li>
{% endblock %}
