
	<div class="well sidebar-nav">
    	<ul class="nav nav-list">
        	<li class="nav-header">Le Pass Bien-être</li>
            <li><a href="#">Réservez-vos soins</a></li>
            <li><a href="#">Vos réservations</a></li>
            <li class="nav-header">{{ 'menu.settings.title'|trans({}, 'ssn_therapass') }}</li>
            <li><a href="{{ path('oxygen_passbook_event_list') }}">{{ 'menu.settings.events'|trans({}, 'ssn_therapass') }}</a></li>
		</ul>
	</div>
